<div id="{{ block_html_id }}" class="{{ classes }}"{{ attributes }}>

{{ title_prefix }}
{% if block  %}
<h2{{ title_attributes }}>{{ block }}</h2>
{% endif %}
{{ title_suffix }}

<div class="content"{{ content_attributes }}>
{{ content }}
</div>
</div>