<div id="page">

  <!--header-top-->
  <div id="header-top">
    <div id="header-top-inside" class="clearfix">

      <!--header-top-inside-left-->
      <div id="header-top-inside-left">{{ page.header }}</div>
      <!--EOF:header-top-inside-left-->

      <!--header-top-inside-left-feed-->
      <div id="header-top-inside-left-feed">
        <div id="topSocial">
          <ul>
            <li>
              <a class="twitter" href="http://twitter.com/morethanthemes" title="Follow Us on Twitter!"></a>
            </li>
            <li>
              <a class="facebook" href="http://www.facebook.com/pages/More-than-just-themes/194842423863081" title="Join Us on Facebook!"></a>
            </li>
            <li>
              <a class="rss" title="Subcribe to Our RSS Feed" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <!--EOF:header-top-inside-left-feed-->

      <!--header-top-inside-left-right-->
      <div id="header-top-inside-right">{{ page.search_area }}</div>
      <!--EOF:header-top-inside-left-right-->

    </div>
  </div>
  <!--EOF:header-top-->

  <div id="wrapper">

    <!--header-->
    <div id="header" class="clearfix">

      <!--logo-floater-->
      <div id="logo-floater">
        {% if logo %}
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}">
            <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
          </a>
        {% endif %}

        {% if site_name or site_slogan %}
          <div class="clearfix">
            {% if site_name %}
              <span id="site-name">
                <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}">{{ site_name }}</a>
              </span>
            {% endif %}

            {% if site_slogan %}
              <span id="slogan">{{ site_slogan }}</span>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <!--EOF:logo-floater-->

      <!--navigation-->
      <div id="navigation">
        {{ page.navigation }}
      </div>
      <!--EOF:navigation-->

    </div>
    <!--EOF:header-->

    <div id="main-area" class="clearfix">

      <div id="main-area-inside" class="clearfix">

        <div id="main" class="inside clearfix">

          {% if page %}
            <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}

          {% if messages %}
            <div id="console" class="clearfix">
              {{ messages }}
            </div>
          {% endif %}

          {% if page %}
            <div id="help">
              {{ page.help }}
            </div>
          {% endif %}

          {% if action_links %}
            <ul class="action-links">
              {{ action_links }}
            </ul>
          {% endif %}

          {{ title_prefix }}
          {% if title %}
            <h1 class="title">{{ title }}</h1>
          {% endif %}
          {{ title_suffix }}

          {% if tabs %}{{ tabs }}
          {% endif %}

          {{ page.content }}

          {% if feed_icons %}{{ feed_icons }}
          {% endif %}

        </div>
        <!--main-->

        {% if page %}
          <div id="right" class="clearfix">

            <div id="network" class="block">
              <h2>Network Connect</h2>
              <div class="network">
                <a href="http://twitter.com/morethanthemes" class="twitter">Twitter</a>
                <a href="http://www.facebook.com/pages/More-than-just-themes/194842423863081" class="facebook">Facebook</a>
                <a href="http://www.flickr.com/photos/56103643@N07/" class="flickr">Flickr</a>
                <a href="#" class="in">In</a>
                <a href="#" class="tumblr">Tumblr</a>
                <a href="http://www.youtube.com/morethanthemes" class="youtube">Youtube</a>
              </div>
            </div>

            {{ page.sidebar_first }}

          </div>
          <!--right-->
        {% endif %}

      </div>

    </div>
    <!--main-area-->

  </div>
  <!-- /#wrapper-->

  <!--footer-->
  <div id="footer">
    <div id="footer-inside" class="clearfix">

      <div id="footer-left">
        <div id="footer-left-1">
          {{ page.footer_left_1 }}
        </div>
        <div id="footer-left-2">
          {{ page.footer_left_2 }}
        </div>
      </div>

      <div id="footer-center">
        {{ page.footer_center }}
      </div>

      <div id="footer-right">
        {{ page.footer_right }}
      </div>

    </div>
  </div>
  <!--EOF:footer-->

  <!--footer-bottom-->
  <div id="footer-bottom">
    <div id="footer-bottom-inside" class="clearfix">
      <div id="footer-bottom-inside-left">
        {{ page.footer }}
      </div>
      <div id="footer-bottom-inside-right">
        {# PHP: print theme('links__system_secondary_menu', array('links' => $secondary_menu, 'attributes' => array('id' => 'secondary-menu', 'class' => array('links', 'inline', 'clearfix')))); #}
      </div>
      <div class="credits-container" style="clear:both; padding-top:12px;">Ported to Drupal for the Open Source Community by
        <a href="http://www.drupalizing.com">Drupalizing</a>, a Project of
        <a href="http://www.morethanthemes.com">More than Themes</a>
      </div>
    </div>
    <div class="credits-container clearfix">
      <a title="Brought To You By: www.SmashingMagazine.com" class="smashing" href="http://www.smashingmagazine.com" target="_blank">Brought to you By: www.SmashingMagazine.com</a>
      <a title="Drupalizing" class="drupalizing" href="http://www.drupalizing.com" target="_blank">Drupalizing</a>
    </div>
  </div>
  <!--EOF:footer-bottom-->

</div>
<!--EOF:page-->
